* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.input,
select {
  font-size: 17px;
  border-radius: 15px;
  padding: 15px 17px;
  width: 240px;
  margin: 10px auto;
  text-align: center;
  background: rgba(128, 0, 128, 0.25);
  border: none;
  color: #ffffff;
  backdrop-filter: blur(10px);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.input:focus,
select:focus {
  outline: none;
  transition: 0.3s all;
  transform: scale(1.1);
  background: rgba(186, 85, 211, 0.35);
  box-shadow: 0 0 15px rgba(186, 85, 211, 0.6);
}
.load-more {
  border-radius: 15px;
  padding: 13px 30px;
  color: #003300;
  background: #00ff7f;
  box-shadow:
    0 0 12px #00ff7f,
    0 0 30px rgba(0, 255, 127, 0.6);
  width: 150px;
  text-align: center;
  margin: 40px auto;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  right: 10px;
  position: sticky;
  bottom: 10px;
  z-index: 1;
}
.load-more:hover {
  background: seagreen;
  transform: scale(1.05);
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.wrapper {
  position: relative;
  z-index: 1;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card {
  height: 260px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(15px);
  width: 280px;
  border-radius: 12px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0px 3px 16px -5px black;
  transition: all 0.4s ease;
  animation: fadeUp 1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.pok-image {
  height: 180px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: 0.4s ease;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0%,100%{
    transform: translateY(0);

  }
  50%{
    transform: translateY(-10px);
  }
}

.card:hover {
  transform: translateY(-14px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}
.card:hover .pok-image {
  transform: scale(1.08);
}

.namepok {
  margin-top: 12px;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  height: 260px;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  border-radius: 12px;
  backface-visibility: hidden;
}

.card-back {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  transform: rotateY(180deg);
}
.text-animation {
  font-size: 37px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 20px 0;
}

.text::after {
  content: "|";
  margin-left: 5px;
  animation: blink 1s infinite;
}
.error-pokemon{
  font-size:30px;
  font-weight: bold;
  color: white;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@media (max-width: 555px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
  .input {
    width: 90%;
    max-width: 300px;
  }
  select {
    width: 50%;
    max-width: 250px;
  }
}
