* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input {
  font-size: 14px;
  border-radius: 15px;
  padding: 15px 17px;
  border: none;
  width: 200px;
  margin: 25px auto;
  display: flex;
  color: #333;
  background: rgba(255, 255, 255, 0.466);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.load-more {
  border-radius: 15px;
  padding: 13px 22px;
  background-color: aliceblue;
  width: 126px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}
.load-more:hover {
  background-color: rgb(246, 218, 181);
}

.bg-video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.wrapper {
  position: relative;
  z-index: 1;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card{
  height: 260px;
  background: rgba(255, 255, 255, 0.466);
  border-radius: 12px;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;

}

.pok-image {
  height: 180px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.card:hover{
  transform: translateY(-14px);
}

.namepok {
  text-transform: capitalize;
  color: #333;
}
